@page "/DataGraph"
@using BlazorCloud.Data
@using BlazorCloud.Data.Entities
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Authorization
@* @implements IDisposable *@

@rendermode InteractiveServer
@attribute [Authorize]
@inject ApplicationDbContext dbContext;

<AuthorizeView>
    
<h3>DataGraph</h3>

<h4>The last five minutes of temperature data in the database:</h4>
<MudPaper Class="doc-section-component-container">
    <MudTimeSeriesChart ChartSeries="@tempatureSeries"
                        @bind-SelectedIndex="_index"
                        Width="100%"
                        Height="350px"
                        ChartOptions="@tempatureChartOptions"
                        AxisChartOptions="@_axisChartOptions"
                        CanHideSeries="false"
                        TimeLabelSpacing="TimeSpan.FromMinutes(5)"
                        TimeLabelSpacingRounding="true"
                        TimeLabelSpacingRoundingPadSeries="false"
                        DataMarkerTooltipTimeLabelFormat="yyyy MMM dd HH:mm:ss"/>
</MudPaper>
<br><br>
<h4>The last five minutes of humidity data in the database:</h4>
<MudPaper Class="doc-section-component-container">
    <MudTimeSeriesChart ChartSeries="@humiditySeries"
                        @bind-SelectedIndex="_index"
                        Width="100%"
                        Height="350px"
                        ChartOptions="@tempatureChartOptions"
                        AxisChartOptions="@_axisChartOptions"
                        CanHideSeries="false"
                        TimeLabelSpacing="TimeSpan.FromMinutes(5)"
                        TimeLabelSpacingRounding="true"
                        TimeLabelSpacingRoundingPadSeries="false"
                        DataMarkerTooltipTimeLabelFormat="yyyy MMM dd HH:mm:ss"/>
</MudPaper>
<br><br>
<h4>Last five data points received from the sensor:</h4>
<table id="tempDataTable" class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Temperature (°C)</th>
        <th>Humidity (%)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var data in dbContext.EnvironmentData
                  .AsNoTracking()
                  .OrderByDescending(e => e.Id)
                  .Take(5))
    {
        <tr>
            <td>@data.CreatedAt.ToString("yyyy‑MM‑dd HH:mm:ss")</td>
            <td>@data.Temperature</td>
            <td>@data.Humidity</td>
        </tr>
    }
    </tbody>
</table>

</AuthorizeView>

@code {
    private int _index = -1; //default value cannot be 0 -> first selectedindex is 0.
    private ChartOptions tempatureChartOptions = new ChartOptions
        {
            YAxisLines = true,
            YAxisTicks = 1,
            YAxisToStringFunc = (value) => $"{value}°C",
            MaxNumYAxisTicks = 50,
            YAxisRequireZeroPoint = false,
            XAxisLines = true,
            LineStrokeWidth = 1,
        };
    private ChartOptions humidityChartOptions = new ChartOptions
        {
            YAxisLines = true,
            YAxisTicks = 10,
            YAxisToStringFunc = (value) => $"{value}%",
            MaxNumYAxisTicks = 100,
            YAxisRequireZeroPoint = true,
            XAxisLines = true,
            LineStrokeWidth = 1,
        };

    private AxisChartOptions _axisChartOptions = new()
    {
        MatchBoundsToSize = true,
    };

    private TimeSeriesChartSeries tempChart = new();

    private List<TimeSeriesChartSeries> tempatureSeries = new();
    private List<TimeSeriesChartSeries> humiditySeries = new();
    
    List<TimeSeriesChartSeries.TimeValue> tempatureData = [];
    List<TimeSeriesChartSeries.TimeValue> humidityData = [];

    private void updateTempData()
    {
        var fiveMinutesAgo = DateTime.Now - TimeSpan.FromMinutes(5.5);

        var envData = dbContext.EnvironmentData
            .AsNoTracking()
            .OrderByDescending(e => e.Id)
            // Note: This can make the graph look empty if there is no data from the last five minutes. 
            .Where(e => e.CreatedAt >= fiveMinutesAgo)
            .Take((int)Math.Ceiling(60*5.1)) //Just over five minutes of data at a rate of one update per second.
            .Select(e => new { e.CreatedAt, e.Temperature, e.Humidity })
            .ToList(); // Required for temperature to be non-zero. Likely needed because of SQL reasons.
        
        tempatureData = envData
            .Select(r => new TimeSeriesChartSeries.TimeValue(r.CreatedAt, r.Temperature))
            .ToList();
        
        humidityData = envData
            .Select(r => new TimeSeriesChartSeries.TimeValue(r.CreatedAt, r.Humidity))
            .ToList();
        
        StateHasChanged();
    }
    
    private void OnNewData(EnvironmentData newEnvData)
    {
        tempatureData.Add(new (newEnvData.CreatedAt, newEnvData.Temperature));
        humidityData.Add(new (newEnvData.CreatedAt, newEnvData.Humidity));
        InvokeAsync(StateHasChanged);
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();

        updateTempData();
        API.PostData.EnvironmentDataUpdated += OnNewData;

        tempatureSeries.Add(new TimeSeriesChartSeries
        {
            Index = 0,
            Name = "Temperature",
            Data = tempatureData,
            IsVisible = true,
            LineDisplayType = LineDisplayType.Line,
            DataMarkerTooltipTitleFormat = "{{X_VALUE}}",
            DataMarkerTooltipSubtitleFormat = "{{Y_VALUE}}°C",
            ShowDataMarkers = true
        });
        
        humiditySeries.Add(new TimeSeriesChartSeries
        {
            Index = 0,
            Name = "Humidity",
            Data = tempatureData,
            IsVisible = true,
            LineDisplayType = LineDisplayType.Line,
            DataMarkerTooltipTitleFormat = "{{X_VALUE}}",
            DataMarkerTooltipSubtitleFormat = "{{Y_VALUE}}%",
            ShowDataMarkers = true
        });


        StateHasChanged();
    }

    public void Dispose()
    {
        API.PostData.EnvironmentDataUpdated -= OnNewData;
        // dbContext.Dispose(); // Don't dispose the db context since it is shared.
    }
}